<svelte:options tag="ow-events-status-element" />

<script>
    import { onMount } from "svelte"

    export let gameid = null
    export let polling = null
    let gameEvents;

    onMount(() => {
        const fetchGameEvents = (async () => {
            const res = await fetch(`https://developers.overwolf.com/game-events/${gameid}_prod.json`)

            return await res.json()
        })

        setTimeout(() => { // a problem with svelte
            if (!gameid) {
                return
            }

            if (polling) {
                debugger
                setInterval(() => {
                    gameEvents = fetchGameEvents()
                }, +polling);
            }
            gameEvents = fetchGameEvents()
        }, 0);
    })
</script>


{#if !!gameid}
    {#await gameEvents}
        <slot name="loading">
            loading events...
        </slot>
    {:then value}
        {#if value}
            {#if value.state === 0}
                <slot name="unsupported">
                    Unsupported
                </slot>
            {:else if value.state === 1}
                <slot name="green">
                    Good to go
                </slot>
            {:else if value.state === 2}
                <slot name="yellow">
                    Partial functionality, some game events may be unavailable.
                </slot>
            {:else if value.state === 2}
                <slot name="red">
                    Game events are unavailable.
                </slot>
            {/if}
        {/if}
    {:catch error}
        <slot name="error">
            Game events are unknown.
        </slot>
    {/await}
{:else}
     <span>Game id is mandatory</span>
{/if}

